{% extends 'base_page.html' %}
{% load i18n %}
{% block title %}  {% trans 'Creating a blog post' %} {% endblock title %}

{% block content %}

<header class="header">
    <ul class="header-list">
        <li>
            <span class="header__welcome"> {% trans 'Welcome to the site' %}, {{request.user.username}} </span>
        </li>
        <li>
            <a href="{% url 'post_list' %}" class="header__link">{% trans 'To the posts list' %}</a>
        </li>
        <li>
            <a href="{% url 'account' %}" class="header__link">{% trans 'User information' %}</a>
        </li>
        <li>
            <a href="{% url 'logout' %}" class="header__link">{% trans 'Logout' %}</a>
        </li>
    </ul>
</header>

<h1>{% trans 'Create post' %}</h1>

<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{ form.as_p }}
    <button type="submit" class="btn">{% trans 'Create post' %}</button>
</form>

{% endblock content %}
